Repository ressources-act/Guide_de_survie_en_actuariat, pull requests merged in 2019-11, with the labels that each got.

#27 GitHub desktop guide merger
  README.md
Labels: Proposition d'ajout

#28 ACT-2004
  02_Cheatsheets/cheatsht-ACT2004.pdf
  02_Cheatsheets/cheatsht-ACT2004.tex
Labels: ACT-2004, Proposition d'ajout

#29 ACT-2003, ACT-2005
  02_Cheatsheets/cheatsht-ACT2003.pdf
  02_Cheatsheets/cheatsht-ACT2003.tex
  02_Cheatsheets/cheatsht-ACT2004.pdf
  02_Cheatsheets/cheatsht-ACT2005.pdf
  02_Cheatsheets/cheatsht-ACT2005.tex
Labels: ACT-2003, ACT-2005, Proposition d'ajout

#30 Correction typo + ajout toc dans README
  README.md
Labels: Proposition d'ajout
