Repository ressources-act/Guide_de_survie_en_actuariat, pull requests merged in 2020-06, with the labels that each got.

#65 ACT-1002
  02_Cheatsheets/cheatsht-ACT1002.pdf
  02_Cheatsheets/cheatsht-ACT1002.tex
  02_Cheatsheets/cheatsht-preamble-general.tex
Labels: ACT-1002

#67 Ajouts ACT-2001 et ACT-1003
  02_Cheatsheets/cheatsht-ACT1XXX.pdf
  02_Cheatsheets/cheatsht-ACT1XXX.tex
  02_Cheatsheets/cheatsht-ACT2001.pdf
  02_Cheatsheets/cheatsht-ACT2001.tex
Labels: ACT-1003, ACT-2001

#75 fusionner les NDC d'ACT-2005 de G.-C.-C. / N.L.
  00_Archive/A18-ACT2005/ACT2005_notes-cours (COMPLET).pdf
  00_Archive/A18-ACT2005/ACT2005_notes-cours.pdf
  00_Archive/A18-ACT2005/ACT2005_notes-cours.tex
  00_Archive/A18-ACT2005/Figures/.Rhistory
  00_Archive/A18-ACT2005/Figures/Fct_de_repartition_empirique.png
  00_Archive/A18-ACT2005/Figures/Q13-57_visualisation.png
  00_Archive/A18-ACT2005/Figures/R-ogive-plot.png
  00_Archive/A18-ACT2005/Figures/distinction_loss-deductible-limit.png
  00_Archive/A18-ACT2005/Figures/generate_gg.R
  00_Archive/A18-ACT2005/Figures/skewness_interpretation.jpg
  00_Archive/A18-ACT2005/preambule/code-listing_setup.tex
  00_Archive/A18-ACT2005/preambule/preambule_utf8.tex
  00_Archive/A18-ACT2005/src/Data-Set-A.png
  00_Archive/A18-ACT2005/src/Data-Set-B.png
  00_Archive/A18-ACT2005/src/Data-Set-C.png
  00_Archive/A18-ACT2005/src/Data-Set-D1.png
  00_Archive/A18-ACT2005/src/Data-Set-D2.png
  00_Archive/A18-ACT2005/src/LM-Q13-57.png
  02_Cheatsheets/cheatsht-ACT2001.pdf
  02_Cheatsheets/cheatsht-ACT2001.tex
Labels: ACT-2005, contenu

#66 ACT-1002
  02_Cheatsheets/cheatsht-ACT1002.pdf
  02_Cheatsheets/cheatsht-ACT1002.tex
  02_Cheatsheets/cheatsht-preamble-general.tex
Labels: ACT-1002, contenu
